---
import { Badge } from "@/components/ui/badge";
import { Button } from "@/components/ui/button";
import {
  Card,
  CardAction,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import getColorsByType from "@/helper/PokemonTypes";
import Layout from "@/layouts/Layout.astro";
import type { Pokemon } from "@/types/pokemon";
import { Image } from "astro:assets";
import { Progress } from "@/components/ui/progress";
import { Field, FieldLabel } from "@/components/ui/field";
import { cn } from "@/lib/utils";
import { Label } from "@/components/ui/label";

export async function getStaticPaths() {
  const res = await fetch("https://pokeapi.co/api/v2/pokemon?limit=100000");
  const data = await res.json();

  return await Promise.all(
    data.results.map(async (poke: any) => {
      const res = await fetch(poke.url);
      const fullData = await res.json();

      return {
        params: { name: poke.name },
        props: { poke: fullData },
      };
    }),
  );
}

const { poke } = Astro.props;
const data = poke as Pokemon;

const abilities = await Promise.all(
  data.abilities.map(async (ability) => {
    const res = await fetch(ability.ability.url);
    const abilityData = await res.json();
    return {
      name: ability.ability.name,
      description:
        abilityData.effect_entries.find(
          (e: { language: { name: string } }) => e.language.name === "en",
        )?.effect || "No description",
      is_hidden: ability.is_hidden,
    };
  }),
);

const moves = await Promise.all(
  data.moves.map(async (move) => {
    const res = await fetch(move.move.url);
    const moveData = await res.json();
    return {
      name: move.move.name,
      accuracy: moveData.accuracy,
      pp: moveData.pp,
      power: moveData.power,
      priority: moveData.priority,
      type: moveData.type.name,
      description:
        moveData.effect_entries.find(
          (e: { language: { name: string } }) => e.language.name === "en",
        )?.effect || "No description",
    };
  }),
);

// 1. Obtener species
const speciesRes = await fetch(data.species.url);
const speciesData = await speciesRes.json();

// 2. Obtener evolution chain
const evoRes = await fetch(speciesData.evolution_chain.url);
const evoData = await evoRes.json();

function getAllEvolutions(chain: any): any[] {
  const result: any[] = [];

  function traverse(node: any) {
    result.push(node.species.name);
    node.evolves_to.forEach((evo: any) => traverse(evo));
  }

  traverse(chain);
  return result;
}

const evolutions = getAllEvolutions(evoData.chain);
---

<Layout>
  <div class="grid grid-cols-3 w-full justify-between gap-4">
    <Card
      className={`col-span-2 text-white`}
      style={{
        background: `linear-gradient(135deg, ${getColorsByType(
          poke.types[0].type.name,
        )}, ${poke.types[1]?.type.name !== undefined ? getColorsByType(poke?.types[1]?.type.name) : "lightgray"})`,
        borderColor: "lightgrey",
      }}
    >
      <CardHeader>
        <CardTitle className="text-8xl text-transparent text-shadow-2xs"
          >#{data.id}</CardTitle
        >
        <CardDescription className="text-xl text-shadow-2xs uppercase">
          {data.name}</CardDescription
        >
        <CardAction className="flex gap-2">
          {
            poke.types.map((type: { type: { name: string } }) => (
              <Badge
                className="text-xl p-4"
                key={type.type.name}
                style={{
                  backgroundColor: getColorsByType(type.type.name),
                }}
              >
                {type.type.name.toUpperCase()}
              </Badge>
            ))
          }
        </CardAction>
      </CardHeader>
      <CardContent className="flex justify-center">
        {
          data.sprites.front_default && (
            <Image
              loading={"eager"}
              width={500}
              height={500}
              class={"-mt-40"}
              src={
                data.sprites.other?.["official-artwork"]?.front_default ||
                data.sprites.front_default
              }
              alt={data.name}
              style={{ viewTransitionName: `sprite-${data.name}` }}
            />
          )
        }
      </CardContent>
    </Card>
    <Card>
      <CardHeader>
        <CardTitle> Base Stats </CardTitle>
        <CardDescription />
        <CardAction className="flex gap-2">
          <Button variant="outline">Add to Team</Button>
        </CardAction>
      </CardHeader>
      <CardContent>
        {
          data.stats.map((stat, i) => (
            <Field className="w-full mb-4 capitalize" key={i}>
              <FieldLabel htmlFor="progress-upload">
                <span>{stat.stat.name}</span>
                <span class="ml-auto">{stat.base_stat}</span>
              </FieldLabel>
              <Progress
                className={cn(
                  "w-full ",
                  stat.stat.name === "hp" && "bg-green-500",
                  stat.stat.name === "attack" && "bg-red-500",
                  stat.stat.name === "defense" && "bg-blue-500",
                  stat.stat.name === "special-attack" && "bg-yellow-500",
                  stat.stat.name === "special-defense" && "bg-purple-500",
                  stat.stat.name === "speed" && "bg-pink-500",
                )}
                value={(stat.base_stat / 225) * 100}
                id="progress-upload"
              />
            </Field>
          ))
        }
      </CardContent>
      <CardFooter>
        <div class="flex justify-between w-full">
          <div>
            <strong>Height:</strong>
            <p>
              {poke.height}
            </p>
          </div>
          <div>
            <strong>Weight:</strong>
            <p>
              {poke.weight}
            </p>
          </div>
        </div>
      </CardFooter>
    </Card>
    <div class="col-span-2 flex gap-2">
      <Card className="h-fit w-full">
        <CardHeader>
          <CardTitle> Abilities </CardTitle>
          <CardDescription />
          <CardAction className="flex gap-2" />
        </CardHeader>
        <CardContent>
          {
            abilities.map((ability) => (
              <div>
                <Card className="border-none shadow-none mb-2 bg-accent">
                  <CardHeader>
                    <CardTitle className="text-gray-700 capitalize">
                      {ability.name.split("-").join(" ")}
                    </CardTitle>
                    <CardDescription className="text-gray-500 line-clamp-2 hover:line-clamp-none transition-all">
                      {ability.description}
                    </CardDescription>
                    <CardAction>
                      {ability.is_hidden ? (
                        <Badge variant={"outline"}>HIDDEN</Badge>
                      ) : (
                        ""
                      )}
                    </CardAction>
                  </CardHeader>
                </Card>
              </div>
            ))
          }
        </CardContent>
        <CardFooter />
      </Card>

      <Card className="h-fit w-full">
        <CardHeader>
          <CardTitle> Moves </CardTitle>
          <CardDescription />
          <CardAction className="flex gap-2" />
        </CardHeader>
        <CardContent>
          {
            moves.map((move) => (
              <div>
                <Card className="border-none shadow-none mb-2 bg-accent">
                  <CardHeader>
                    <CardTitle className="text-gray-700 capitalize">
                      {move.name.split("-").join(" ")}
                    </CardTitle>
                    <CardDescription className="text-gray-500 line-clamp-2 hover:line-clamp-none transition-all">
                      {move.description}
                    </CardDescription>
                    <CardAction>{move.type}</CardAction>
                  </CardHeader>
                </Card>
              </div>
            ))
          }
        </CardContent>
        <CardFooter />
      </Card>
    </div>

    <Card className="">
      <CardHeader>
        <CardTitle> Evolution Chain </CardTitle>
        <CardDescription />
        <CardAction />
      </CardHeader>
      <CardContent>
        <div class="flex flex-col items-center gap-4">
          {
            evolutions.map((name, index) => (
              <>
                <a href={`/pokedex/${name}`} data-astro-prefetch>
                  <div class="flex flex-col items-center">
                    <Image
                      loading={"eager"}
                      height={200}
                      width={200}
                      alt={name}
                      src={`https://img.pokemondb.net/artwork/${name}.jpg`}
                    />
                    <span class="text-sm capitalize">{name}</span>
                  </div>
                </a>

                {index < evolutions.length - 1 && (
                  <div class="flex flex-col">
                    <span class="text-xl">↓</span>
                  </div>
                )}
              </>
            ))
          }
        </div>
      </CardContent>
      <CardFooter />
    </Card>
  </div>
</Layout>
